<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "widgets/head.html" .}}
</head>
<body>
<div class="manual-reader manual-container">
    {{template "widgets/header.html" .}}
    <div class="container">
        <div class="col-xs-12 friend-links flink" style="margin-top: 75px">
            <div class="flink-list">
                {{range $.Friendlinks}}
                    <div class="flink-list-item">
                        <a href="{{.Link}}" title="{{.Link}}" target="_blank">
                            <div class="flink-item-icon"><img class="pic-link" src="{{.Pic}}" alt="Baret-H"></div>
                            <div class="flink-item-name" title="{{.Title}}">{{.Title}}</div>
                            <div class="flink-item-desc" title="{{.Remark}}">{{.Remark}}</div>
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <div class="backtop tooltips" title="回到顶部">
        <i class="fa fa-arrow-up"></i>
    </div>
</div>
    {{template "widgets/footer.html" .}}
</body>
</html>
