<ul class="menu">
    <li {{if .IsDashboard}}class="active"{{end}}><a href="{{urlfor "ManagerController.Index"}}" class="item"><i class="fa fa-dashboard" aria-hidden="true"></i> &nbsp&nbsp仪表盘</a> </li>
    <li {{if .IsUsers}}class="active"{{end}}><a href="{{urlfor "ManagerController.Users" }}" class="item"><i class="fa fa-users" aria-hidden="true"></i> &nbsp&nbsp用户管理</a> </li>
    <li {{if .IsBooks}}class="active"{{end}}><a href="{{urlfor "ManagerController.Books" }}" class="item"><i class="fa fa-book" aria-hidden="true"></i> &nbsp&nbsp书籍管理</a> </li>
    <li {{if .IsComments}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments" }}" class="item"><i class="fa fa-comments-o" aria-hidden="true"></i> &nbsp&nbsp评论管理</a> </li>
    <li {{if .IsBanner}}class="active"{{end}}><a href="{{urlfor "ManagerController.Banners" }}" class="item"><i class="fa fa-image" aria-hidden="true"></i> &nbsp&nbsp横幅管理</a> </li>
    <li {{if .IsSetting}}class="active"{{end}}><a href="{{urlfor "ManagerController.Setting" }}" class="item"><i class="fa fa-cogs" aria-hidden="true"></i> &nbsp&nbsp配置管理</a> </li>
    <li {{if .IsManagerSeo}}class="active"{{end}}><a href="{{urlfor "ManagerController.Seo" }}" class="item"><i class="fa fa-globe" aria-hidden="true"></i> &nbsp&nbspSEO管理</a> </li>
    <li {{if .IsAds}}class="active"{{end}}><a href="{{urlfor "ManagerController.Ads" }}" class="item"><i class="fa fa-adn" aria-hidden="true"></i> &nbsp&nbsp广告管理</a> </li>
    <li {{if .IsCategory}}class="active"{{end}}><a href="{{urlfor "ManagerController.Category" }}" class="item"><i class="fa fa-th" aria-hidden="true"></i> &nbsp&nbsp分类管理</a> </li>
    <li {{if .IsTag}}class="active"{{end}}><a href="{{urlfor "ManagerController.Tags" }}" class="item"><i class="fa fa-tags" aria-hidden="true"></i> &nbsp&nbsp标签管理</a> </li>
    <li {{if .IsFriendlink}}class="active"{{end}}><a href="{{urlfor "ManagerController.FriendLink" }}" class="item"><i class="fa fa-link" aria-hidden="true"></i> &nbsp&nbsp友链管理</a> </li>
    <li {{if .IsAttach}}class="active"{{end}}><a href="{{urlfor "ManagerController.AttachList" }}" class="item"><i class="fa fa-cloud-upload" aria-hidden="true"></i> &nbsp&nbsp附件管理</a> </li>
</ul>
