<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "widgets/head.html" .}}
    <style>
        .content-block {
            max-width: 350px;
            word-break: break-all;
        }
    </style>
</head>
<body>
<div class="manual-reader">
    {{template "widgets/header.html" .}}
    <div class="container manual-body">
        <div class="row">
            <div class="page-left">
                {{template "manager/menu.html" .}}
            </div>
            <div class="page-right">
                <div class="m-box">
                    <div class="box-head">
                        <strong class="box-title">收录管理</strong>
                    </div>
                </div>
                <div class="box-body" id="bookList">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户</th>
                            <th>内容</th>
                            <th>留言</th>
                            <th>时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range .Books}}
                            <tr>
                                <td>{{.Id}}</td>
                                <td><a href="{{urlfor "UserController.Index" ":username" .Account}}" target="_blank">{{.Nickname}}</a></td>
                                <td><a href="{{.Url}}" target="_blank">《{{.Title}}》</a></td>
                                <td><div class="help-block conten-block">{{.Message}}</div></td>
                                <td>{{.CreatedAtStr}}</td>
                                <td>
                                    {{if .Status}}
                                        <span class="text-success">已处理</span>
                                    {{else}}
                                        <span class="text-danger">待处理</span>
                                    {{end}}
                                </td>
                                <td>
                                    {{if .Status}}
                                        <a href="{{urlfor "ManagerController.UpdateSubmitBook"}}?id={{.Id}}&field=status&value=0" class="ajax-get">待处理</a>
                                    {{else}}
                                        <a href="{{urlfor "ManagerController.UpdateSubmitBook"}}?id={{.Id}}&field=status&value=1" class="ajax-get">已处理</a>
                                    {{end}}
                                    <a href="{{urlfor "ManagerController.DeleteSubmitBook"}}?id={{.Id}}" class="text-danger confirm ajax-get">删除</a>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                    {{.PageHtml}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/toast.script.js"></script>
<script src="/static/js/main.js?version={{$.Version}}" type="text/javascript"></script>
</body>
</html>
